<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pass recovery</title>
</head>
<body>
  <span>
    Click
    <b>
      <a href="<%= link %>" target="_blank">
        here
      </a>
    </b>
  </span>
</body>
</html>
